body {
  background-image: url("../image/val4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: blue;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 30px;
}

.card-content {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 24px;
  max-width: 400px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 100px;
  max-height: 80vh; /* limits height to 80% of viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  width: 90%;
  position: relative;
  padding: 10px;
}

h1 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "arial black";
  color: white;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1#question {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "arial black";
  color: black;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 24px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell;
  color: black;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  padding: 16px 36px; /* makes it feel big */
  font-size: 20px; /* readable & elegant */
  border-radius: 40px; /* soft, romantic */
  cursor: pointer;
  border: none;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  background-color: blue;
  text-align: center;
  color: white;
}

#yesBtn,
#noBtn {
  display: inline-flex;
  align-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  padding: 16px 36px; /* makes it feel big */
  font-size: 20px; /* readable & elegant */
  border-radius: 40px; /* soft, romantic */
  cursor: pointer;
  border: none;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  background-color: blue;
  text-align: center;
  color: white;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: blue;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  color: white;
  font-family:
    fira code,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell;
  margin-top: 40px;
}
